<table align="center" border="1" style="border:solid">
  <thead>
    <tr>
        <th colspan="6"><font size="4" color="red">Locations</font></th>
    </tr>
    <tr>
      <th>Position</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Postcode</th>
      <th>Last Update Time</th>
      <th>prediction</th>
    </tr>
  </thead>

  <tbody>
      <% if(@locations.size == 0) %>
      <tr>
        <td colspan ="7" align="center">No location data!</td>
      </tr>
    <% else %>
      <% @locations.each_with_index do |location,index| %>
        <tr>
          <td align="center"><%= link_to(location.name, {:controller =>'weather',:action => 'location_data',
                                           :location_id =>"#{location.name}", 
                                           :date =>Time.new.strftime("%d-%m-%Y")}) %></td>
          <td align="center"><%= location.lat.round(2) %></td>
          <td align="center"><%= location.lon.round(2) %></td>
          <td align="center"><%= link_to(location.postcode, {:controller =>'weather',:action => 'postcode_data',
                                           :post_code =>"#{location.postcode}", 
                                           :date =>Time.new.strftime("%d-%m-%Y")}) %></td>
          <td align="center"><%= location.last_update %></td>
          <td align="center"><%= link_to('Prediction', {:controller =>'weather',:action => 'lat_long_prediction',
                                           :lat =>"#{location.lat}", 
                                           :long =>"#{location.lon}", 
                                           :period => '180'}) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
