<table align="center" border="1" style="border:solid">
  <thead>
    <tr>
        <th colspan="7"><font size="4" color="red">Locations</font></th>
    </tr>
    <tr>
      <th>Position</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Postcode</th>
      <th>Last Update Time</th>
    </tr>
  </thead>

  <tbody>
      <% if(@locations.size == 0) %>
      <tr>
        <td colspan ="7" align="center">No location data!</td>
      </tr>
      <% end %>
    <% @locations.each_with_index do |locations,index| %>
      <tr>
        <td><%= link_to(locations.name, {:controller =>'weather',:action => 'location_data',
                                         :location_id =>"#{locations.name}", 
                                         :date =>Time.new.strftime("%d-%m-%Y")}) %></td>
        <td align="center"><%= locations.lat.round(2) %></td>
        <td align="center"><%= locations.lon.round(2) %></td>
        <td align="center"><%= locations.postcode %></td>
        <td align="center"><%= locations.last_update %></td>
      </tr>
    <% end %>
  </tbody>
</table>
